<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-3.2.xsd
     ">

    <bean id="date" class="java.util.Date"/>
    <bean id="department" class="com.netease.kaola.study.spring01.ioc.entity.Department">
        <constructor-arg name="id" value="12"></constructor-arg>
        <constructor-arg name="departmentName" value="12"></constructor-arg>
    </bean>
</beans>